body { background-color:  #F5F5F5; }


.div1 {
    display: flex;
    justify-content: center;
}

.img1 {
    width: 647px;
    height: 323px;
}

.div11 {
    margin: 0px;
    margin-top: 29px;
    display: flex;
    justify-content: center;
}

.div111 {
    width: 171px;
    height: 222px;
    display: flex;
    justify-content: center;
}

.text {
    margin: 0px;
    padding-left: 9px;
    width: 208px;
}

h4 {
    margin: 0px;
    color: black;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
}

span {
    margin: 0px;
    padding-top: 5px;
    font-family: InterL;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    color: black;
}

.div2 {
    margin: 0px;
    display: flex;
    justify-content: center;
    margin-top: 29px;
    margin-bottom: 46px;
}

h1 {
    padding-bottom: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
}

.div3 {
    margin: 0px;
}

.div3 h3 {
    font-family: Inter;
    font-style: normal;
    font-size: 12px;
    font-weight: 700;
    margin: 0px;
    padding-top: 8px;
}

.div3 p {
    font-family: InterL;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: black;
    margin: 0px;
    padding-top: 1px;

}

.img3 {
    width: 208px;
    height: 322px;
    padding-left: 9px;
    padding-top: 5px;
}
