body    {  background-color: #FFFFFF; }

.img    { display: flex;
          justify-content: center;}

.img1   {  Width: 647px;
           Height: 323px; }
  
.img2   {  height: 222px;
           width: 171px; } 

 .b1    {  margin-left: 20px ;
           height: 13px;
           width: 267px;
         }

.p1     { margin-left: 20px 
         }   

.div1   { display: flex;
          justify-content: center;
          margin-top: 20px;
          width: 500px;
        }
         

.div2   { float: left;
          height: 222px;}

.div3   { color: #000000;
           height: 222px;}

.div4   { display: flex;
          justify-content: center; 
          margin-top: 20px;
        }

.p2     { padding-right: 20px;}

.img3   { width: 208px;
          height: 322px;}

.div5   { float: left;
          height: 322px; }

.p6     { color: #757575;
          margin-left: 20px }

section  { display: flex;
           justify-content: center}
      
         


































       
